// "theme-color-variables"
$primary:       #993399;
$secondary:     #339999;
// $success:       $green !default;
$info:          #808080;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-900 !default;
// ./ "theme-color-variables"