<header class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Центрированный герой</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Быстро создавайте и настраивайте адаптивные сайты, ориентированные на мобильные устройства,
            с
            помощью Bootstrap, самого популярного в мире инструментария с открытым исходным кодом для интерфейса
            пользователя,
            включающего переменные и миксины Sass, адаптивную сеточную систему, обширные готовые компоненты и мощные
            плагины
            JavaScript.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Основная кнопка</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Вторичная</button>
        </div>
    </div>
</header>