@import "variables.scss";
@import "bootstrap-5.3.1/bootstrap.scss";

/* Custom Styles */

// <!--- @AreNotAvalible 2023-08-07 17:14
// Стили банера домашней страницы
#header {
    background-image: url('https://static.vecteezy.com/system/resources/previews/010/449/375/large_2x/abstract-white-studio-background-for-product-presentation-empty-room-with-shadows-of-window-and-flowers-and-palm-leaves-3d-room-with-copy-space-summer-concert-blurred-backdrop-free-photo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
// --->