<!-- @AreNotAvalible "navbar with branding logo" -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <!-- "navbar main container" -->
    <div class="container-fluid">

        <!-- "branding logo" -->
        <a class="navbar-brand" href="#">
            <img src="assets/img/branding.svg" alt="krismos-logo" width="60" height="60">
        </a>
        <!-- ./ "branding logo" -->

        <!-- "hamburger button" -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
            aria-controls="offcanvasNavbar2" aria-label="Переключить навигацию">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- ./ "hamburger button" -->

        <!-- "offcanvas element" -->
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2"
            aria-labelledby="offcanvasNavbar2Label">

            <!-- "offcanvas header and close button" -->
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Offcanvas</h5>
                <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas"
                    aria-label="Закрыть"></button>
            </div>
            <!-- ./ "offcanvas header and close button" -->

            <!-- "navbar body" -->
            <div class="offcanvas-body">

                <!-- "navigation links" -->
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Услуги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Контакты</a>
                    </li>
                </ul>
                <!-- ./ "navigation links" -->

            </div>
            <!-- ./ "navbar body" -->

        </div>
        <!-- ./ "offcanvas element" -->

    </div>
    <!-- ./ "navbar main container" -->

</nav>
<!-- ./ "navbar with branding logo" -->