<main class="container min-vh-100">
    <!-- "section title" -->

    <div class="my-5 text-center">
        <h2>Услуги</h2>
    </div>
    <!-- ./ "section title" -->

    <section class="row gy-5">

        <!-- "service card" -->
        <article class="card col-card 12 py-5">
                <div class="card-body">
                    <h3 class="card-title">Название услуги</h3>
                    <p class="card-text">Описание услуги, Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Itaque
                        dolorum quas iste possimus tempore pariatur sed ipsa quae voluptatibus laudantium distinctio
                        vero
                        assumenda reiciendis, provident eum, veritatis ad corrupti omnis!</p>
                    <a href="#" class="btn btn-outline-secondary btn-lg px-4 rounded-pill bg-white">Подробнее</a>
                </div>
        </article>
        <!-- ./ "service card" -->

        <!-- "service card" -->
        <article class="card col-12 py-5">
            <div class="card-body">
                <h3 class="card-title">Название услуги</h3>
                <p class="card-text">Описание услуги, Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Itaque
                    dolorum quas iste possimus tempore pariatur sed ipsa quae voluptatibus laudantium distinctio
                    vero
                    assumenda reiciendis, provident eum, veritatis ad corrupti omnis!</p>
                <a href="#" class="btn btn-outline-secondary btn-lg px-4 rounded-pill bg-white">Подробнее</a>
            </div>
    </article>
    <!-- ./ "service card" -->

        <!-- "service card" -->
        <article class="card col-12 py-5">
            <div class="card-body">
                <h3 class="card-title">Название услуги</h3>
                <p class="card-text">Описание услуги, Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Itaque
                    dolorum quas iste possimus tempore pariatur sed ipsa quae voluptatibus laudantium distinctio
                    vero
                    assumenda reiciendis, provident eum, veritatis ad corrupti omnis!</p>
                <a href="#" class="btn btn-outline-secondary btn-lg px-4 rounded-pill bg-white">Подробнее</a>
            </div>
    </article>
    <!-- ./ "service card" -->

    </section>
</main>