<header class="d-flex justify-content-center min-vh-100"
    style="
    background-image: url('https://images.unsplash.com/photo-1492097631548-189753426f9c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2380&q=100');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    ">
    <div class="align-self-center p-5 text-center">
        <div class="container py-5">
            <h1 class="text-body-emphasis">Полноразмерный джамботрон</h1>
            <p class="col-lg-8 mx-auto lead">
                Это берет базовый jumbotron выше и делает его фон от края до края с <code>.container</code> внутри для
                выравнивания содержимого. Как и выше, он был воссоздан со встроенной сеткой и служебными классами.
            </p>
        </div>
    </div>
</header>