<header class="min-vh-100 trasporant-background">
    <div>
        <h1>Студия лазерной и восковой эпиляции “Krismos”</h1>
        <div>
            <p>Разнообразный и богатый опыт укрепление и развитие структуры способствует подготовки и реализации
                позиций,
                занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что укрепление и
                развитие структуры требуют от нас анализа существенных финансовых и административных условий.</p>
        </div>
    </div>
    <div>
        <!-- "main buttons" -->
        <div>
            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Основная кнопка</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Вторичная</button>
        </div>
        <!-- ./ "main buttons" -->

        <!-- "vendors carousel" -->
            <div class="carousel carousel-size slide rounded-circle border border-primary bg-white" data-bs-ride="carousel">
                <div class="carousel-inner position-absolute top-50 start-50 translate-middle">
                    <div class="carousel-item active">
                        <img src="assets/img/vendors/lycon.svg" class="d-block mx-auto img-fluid" alt="Lycon">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/vendors/ruikd.svg" class="d-block mx-auto img-fluid" alt="RUIKD">
                    </div>
                </div>
            </div>
        <!-- ./ "vendors carousel" -->

    </div>
</header>