<header class="d-flex justify-content-center min-vh-100 trasporant-background">
    <div class="align-self-center p-5 text-center">
        <div class="container py-5">
            <h1 class="text-body-emphasis">Полноразмерный джамботрон</h1>
            <p class="col-lg-8 mx-auto lead">
                Это берет базовый jumbotron выше и делает его фон от края до края с <code>.container</code> внутри для
                выравнивания содержимого. Как и выше, он был воссоздан со встроенной сеткой и служебными классами.
            </p>
        </div>
    </div>
</header>