<header id="header" class="d-flex align-items-center justify-content-center min-vh-100">
    <div class="d-flex align-items-center flex-column">
        <h1>Lorem ipsum</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum amet laboriosam nulla, delectus saepe optio
            dolore suscipit aut rerum repudiandae labore? Culpa sapiente eligendi qui tempore. Fugit modi pariatur ab!
        </p>
        <p class="mt-auto">
            <a href="#" class="btn btn-primary my-2">Главный призыв к действию</a>
            <a href="#" class="btn btn-secondary my-2">Вторичное действие</a>
        </p>
    </div>
</header>

<!-- <div class="d-flex align-items-end flex-column mb-3" style="height: 200px;">
    <div class="p-2">Флекс элемент</div>
    <div class="p-2">Флекс элемент</div>
    <div class="mt-auto p-2">Флекс элемент</div>
</div> -->