<header id="header" class="grid container-fluid vh-100 text-center" style="--bs-rows: 5; --bs-columns: 1;">
    <div class="container" style="grid-row: 3">
        <h1 class="">Lorem ipsum</h1>
        <p class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit excepturi accusamus provident
            cupiditate obcaecati reprehenderit tempore incidunt. Dolores a voluptatum animi consequuntur, totam quo sit
            quidem id reiciendis facere tempora.</p>
    </div>
    <div class="container" style="grid-row: 5">
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Основная кнопка</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Вторичная</button>
    </div>
</header>