<section class="d-flex align-items-center vh-100">

    <!-- row -->
    <div class="grid text-center">
        <!-- elem -->
        <div class="g-col-lg-4 g-col-md-6 g-col-12">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
            </svg>
            <h2 class="fw-normal">Заголовок</h2>
            <p>Некоторый типичный заполнитель для трех столбцов текста под каруселью. Это первая колонка.</p>
            <p><a class="btn btn-secondary" href="#">Посмотреть детали »</a></p>
        </div>
        <!-- /.elem -->


        <!-- elem -->
        <div class="g-col-lg-4 g-col-md-6 g-col-12">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
            </svg>
            <h2 class="fw-normal">Заголовок</h2>
            <p>Некоторый типичный заполнитель для трех столбцов текста под каруселью. Это первая колонка.</p>
            <p><a class="btn btn-secondary" href="#">Посмотреть детали »</a></p>
        </div>
        <!-- /.elem -->


        <!-- elem -->
        <div class="g-col-lg-4 g-col-md-6 g-col-12">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
            </svg>
            <h2 class="fw-normal">Заголовок</h2>
            <p>Некоторый типичный заполнитель для трех столбцов текста под каруселью. Это первая колонка.</p>
            <p><a class="btn btn-secondary" href="#">Посмотреть детали »</a></p>
        </div>
        <!-- /.elem -->


        <!-- elem -->
        <div class="g-col-lg-4 g-col-md-6 g-col-12">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
            </svg>
            <h2 class="fw-normal">Заголовок</h2>
            <p>Некоторый типичный заполнитель для трех столбцов текста под каруселью. Это первая колонка.</p>
            <p><a class="btn btn-secondary" href="#">Посмотреть детали »</a></p>
        </div>
        <!-- /.elem -->


        <!-- elem -->
        <div class="g-col-lg-4 g-col-md-6 g-col-12">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
            </svg>
            <h2 class="fw-normal">Заголовок</h2>
            <p>Некоторый типичный заполнитель для трех столбцов текста под каруселью. Это первая колонка.</p>
            <p><a class="btn btn-secondary" href="#">Посмотреть детали »</a></p>
        </div>
        <!-- /.elem -->


        <!-- elem -->
        <div class="g-col-lg-4 g-col-md-6 g-col-12">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
            </svg>
            <h2 class="fw-normal">Заголовок</h2>
            <p>Некоторый типичный заполнитель для трех столбцов текста под каруселью. Это первая колонка.</p>
            <p><a class="btn btn-secondary" href="#">Посмотреть детали »</a></p>
        </div>
        <!-- /.elem -->
    </div>
    <!-- /.row -->

</section>